
TermProject/appsettings.json
TermProject/bin/Debug/net6.0/appsettings.json
TermProject/bin/Debug/net6.0/appsettings.json
TermProject/appsettings.json
TermProject/appsettings.json
TermProject/appsettings.Development.json
.vs/TermProject/FileContentIndex/fd454235-52fc-4002-9ab4-1db03fc5eac7.vsidx
.vs/TermProject/FileContentIndex/04b8bd0e-7b02-455c-be19-535ffe319089.vsidx
.vs/TermProject/FileContentIndex/2e11c599-5d71-46d6-b5b2-88a0ceb571dc.vsidx
*.vsidx
TermProject/appsettings.Development.json
TermProject/appsettings.json
TermProject/appsettings.json
TermProject/appsettings.Development.json
