
TermProject/appsettings.json
TermProject/bin/Debug/net6.0/appsettings.json
TermProject/bin/Debug/net6.0/appsettings.json
TermProject/appsettings.json
TermProject/appsettings.json
TermProject/appsettings.Development.json
