
@{
    
}
<ul class="list-group">
    <li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center">
        Cras justo odio
       <div>
            <span id="border" class="badge badge-primary badge-pill" style="color:orange">+</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:black">14</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:orange ">-</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:black ">Delete</span>
       </div>
    </li>
    <li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center">
        Cras justo odio
        <div>
            <span id="border" class="badge badge-primary badge-pill" style="color:orange">+</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:black">14</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:orange ">-</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:black ">Delete</span>
        </div>
    </li>
    <li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center">
        Cras justo odio
        <div>
            <span id="border" class="badge badge-primary badge-pill" style="color:orange">+</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:black">14</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:orange ">-</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:black ">Delete</span>
        </div>
    </li>
    <li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center">
        Cras justo odio
        <div>
            <span id="border" class="badge badge-primary badge-pill" style="color:orange">+</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:black">14</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:orange ">-</span>
            <span id="border" class="badge badge-primary badge-pill" style="color:black ">Delete</span>
        </div>
    </li>
    
</ul>
