@model List<Cart>

<ul class="list-group">
    <h1>Sepet</h1>
    @foreach (Cart cart in Model)
    {
        <li
            class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center">
            <h3>@cart</h3>
            <div>
                <button type="btn btn-outline-info" class="badge badge-primary badge-pill" style="color:orange"
                    asp-controller="Cart" asp-action="Increment" asp-route-id="@cart.Id">+</button>
                <span id="border" class="badge badge-primary badge-pill" style="color:black">@cart.Count</span>
                <span id="border" class="badge badge-primary badge-pill" style="color:orange ">-</span>
                <span id="border" class="badge badge-primary badge-pill" style="color:black ">Delete</span>
            </div>
        </li>
    }
</ul>
