@model IEnumerable<IdentityRole>

<div class="text-center my-5">

    <h6 class="display-6">
        <br />
        Roles
    </h6>
</div>

<ul  class="list-group"> 
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @item.Name
        </li>
    }
</ul>
