
<!DOCTYPE html>
<html>
<head>
    <title>Kitap Detayı</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Kitap adı</h1>
        <hr />
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <h3>Sefiller</h3>
                <p><strong>Yazar:</strong> DEneme</p>
                <p><strong>Yayın Tarihi:</strong> 18.06.2023</p>
                <p><strong>Fiyat:</strong> 35</p>
                <p><strong>Açıklama:</strong></p>
                <p>Harikasınız</p>
            </div>
            <a class="btn btn-outline-info" asp-controller="Cart" asp-action="CartContent">
                Add Cart
            </a>
        </div>
    </div>
</body>
</html>

